<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Title"%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: "Include term details, condition, etc."%>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, placeholder: "Price per day" %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, placeholder: "Enter image URL"%>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <div class="card">
    <img src="../app/assets/images/portrait.jpg" id="image-preview">
    <label class="image-upload-container" for="image-upload">
      <input id="image-upload" type="file" style="display:none;"> Select an Image </label>
      <script>
      var CLOUDINARY_URL = 'https://api.cloudinary.com/v1_1/di64ard5q/upload';
      var CLOUDINARY_UPLOAD_PRESET = 'p0ialzu3';
      var imgPreview = document.getElementById('image-preview');
      var imgUpload = document.getElementById('image-upload');

      imgUpload.addEventListener('change', function(event) {
        var file = event.target.files[0];
          var formData = new FormData();
          formData.append('file', file);
          formData.append('upload_preset', CLOUDINARY_UPLOAD_PRESET);

        axios({
          url: CLOUDINARY_URL,
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          data: formData
        }).then(function(res) {
          console.log(res);
          imgPreview.src = res.data.secure_url
        }).then(function(err) {
          console.log(err);
        });
      });
      </script>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
