<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @listing.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<div id="lender_profile">
  <ul>
    <li><%= link_to "#{User.find(@listing.user_id).email}", listings_path %></li>
    <li><%= @profile.user_name %></li>
    <li><%= @profile.phone %></li>
    <% if !@profile.rating_no == 0 %>
      <li><%= @profile.rating %></li>
    <% end %>
  </ul>
</div>

<% if user_signed_in? && @listing.user != current_user %>
  <div id="rent_button">
    <%= link_to "RENT NOW", controller: 'order', action: 'show', id: @listing.id %>
  </div>
<% end %>

<% if user_signed_in? && @listing.user == current_user %>
  <%= link_to 'Edit', edit_listing_path(@listing) %>
<% end  %>
<%= link_to 'Back', listings_path %>
