<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @order.title %>
</p>

<p>
  <strong>Ammount:</strong>
  <%= @order.ammount %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @order.seller %>
</p>

<%= link_to 'Back', orders_path %>
