<!DOCTYPE html>
<html>
  <head>
    <title>BE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
  <div id=devise_notifications>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="container">
    <nav>
      <ul>
        <li><a href="floop">Home</a></li>
        <li><a href="floop">Search</a></li>
        <li><a href="floop">Saved</a></li>
        <li><a href="floop">My Profile</a></li>
      </ul>
    </nav>
  </div>
  </header>
    <%= yield %>
    <footer>
        <p>BE, Copyright &copy; 2019</p>
        <p>Michael Twitt & Matthew Leacy</p>
    </footer>
  </body>
</html>
